
li{
  cursor: pointer;
}
.active{
  color: orangered;
}
.nav-item{
  transition: color 0.3s ease;
}
.nav-item:hover{
  color: orangered;
}
body{
  padding-top: 6rem;
  font-family: "Poppins", sans-serif;
}
.dark-mode{
  background-color: #08001f;
  color: white;
}
.light-mode{
  background-color: #f7f7f7;
  color: black;
}